.header__status {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    padding-right: 24px;
  }
  
  .header__status:last-of-type {
    padding-right: 0;
  }