.login__input {
    width: 358px;
    height: 57px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    border-bottom: 2px solid #CCCCCC;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: #000000;
    box-sizing: border-box;
    outline: none;
    padding-left: 0;
    padding-right: 0;
    padding-top: 30px;
    padding-bottom: 13px;
}