.login__button {
    width: 358px;
    height: 50px;
    left: 461px;
    top: 558px;
    background-color: #FFFFFF;
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 216px;
    margin-bottom: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #000000;
}

.login__button:hover {
    background: #FFFFFF;
    opacity: 0.85;
    transition: 0.1s linear;
}