.login {
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 112px;
    margin-left: auto;
    margin-right: auto;
}

.login__title {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.login__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.login__button {
    width: 358px;
    height: 50px;
    left: 461px;
    top: 558px;
    background-color: #FFFFFF;
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 216px;
    margin-bottom: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #000000;
    }

.login__button:hover {
    background: #FFFFFF;
    opacity: 0.85;
    transition: 0.1s linear;
}


.login__input {
    width: 358px;
    height: 57px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    border-bottom: 2px solid #CCCCCC;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: #000000;
    box-sizing: border-box;
    outline: none;
    padding-left: 0;
    padding-right: 0;
    padding-top: 30px;
    padding-bottom: 13px;
}

.login__signin {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 15px;
    margin-bottom: 0;

}

.login__signin-text {
    padding: 0;
    margin: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
}

 .login__signin-link {
    text-decoration: none;
    cursor: pointer;
    margin-left: 5px;

 }

 .login__signin-link:hover {
     color: #FFFFFF;
    opacity: 0.6;
    transition: 0.1s linear;
 }



.popup__img {
    width: 120px;
    height: 120px;
    margin-top: 60px;
    margin-bottom: 32px;
    margin-left: 155px;
    margin-right: 155px;
}

@media screen and (max-width: 767px) {
    .popup__img {
        margin-top: 50px;
        margin-bottom: 40px;
        margin-left: 80px;
        margin-right: 80px;
    }
}

.popup__paragraph {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;
    margin-top: 0;
    margin-bottom: 60px;
    margin-left: 36px;
    margin-right: 36px;
}

@media screen and (max-width: 767px) {
    .popup__paragraph {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 50px;
        margin-left: 18px;
        margin-right: 18px;
    }
}
