@import url(../src/vendor/normalize.css);
@import url(../src/vendor/fonts/fonts.css);
@import url(../src/blocks/page/page.css);
@import url(../src/blocks/header/header.css);
@import url(../src/blocks/link/link.css);
@import url(../src/blocks/header/__logo/header__logo.css);
@import url(../src/blocks/profile/profile.css);
@import url(../src/blocks/profile/__avatar/profile__avatar.css);
@import url(../src/blocks/button/_type/button_type_add-card.css);
@import url(../src/blocks/profile/__button-img/profile__button-img.css);
@import url(../src/blocks/button/button.css);
@import url(../src/blocks/info/info.css);
@import url(../src/blocks/info/__name/info__name.css);
@import url(../src/blocks/info/__about/info__about.css);
@import url(../src/blocks/button/_type/button_type_edit.css);
@import url(../src/blocks/info/__button-img/info__button-img.css);
@import url(../src/blocks/cards/cards.css);
@import url(../src/blocks/card/card.css);
@import url(../src/blocks/card/__button-delete/card__button-delete.css);
@import url(../src/blocks/card/__picture/card__picture.css);
@import url(../src/blocks/card/__info/card__info.css);
@import url(../src/blocks/card/__name/card__name.css);
@import url(../src/blocks/card/__button-like/card__button-like.css);
@import url(../src/blocks/card/__button-like/_active/card__button-like_active.css);
@import url(../src/blocks/footer/footer.css);
@import url(../src/blocks/footer/__copyright/footer__copyright.css);
@import url(../src/blocks/popup/popup.css);
@import url(../src/blocks/popup/__animation/popup__animation.css);
@import url(../src/blocks/popup/_type/popup_type_opened.css);
@import url(../src/blocks/popup/__container/popup__container.css);
@import url(../src/blocks/popup/__button/popup__button.css);
@import url(../src/blocks/popup/__button/_type/popup__button_type_close.css);
@import url(../src/blocks/popup/__title/popup__title.css);
@import url(../src/blocks/popup/__input/popup__input.css);
@import url(../src/blocks/popup/__input/_type/popup__input_type_error.css);
@import url(../src/blocks/popup/__button/_type/popup__button_type_save.css);
@import url(../src/blocks/popup/__zoomed/popup__zoomed.css);
@import url(../src/blocks/popup/__picture/popup__picture.css);
@import url(../src/blocks/popup/__caption/popup__caption.css);
@import url(../src/blocks/popup/_type/popup_type_zoomed.css);
@import url(../src/blocks/popup/__span-error/_active/popup__span-error_active.css);
@import url(../src/blocks/popup/__button/_disabled/popup__button_disabled.css);
@import url(../src/blocks/card/__like-container/card__like-container.css);
@import url(../src/blocks/card/__like-counter/card__like-counter.css);
@import url(../src/blocks/profile/__avatar-container/profile__avatar-container.css);
@import url(../src/blocks/profile/__avatar-edit/profile__avatar-edit.css);
@import url(../src/blocks/popup/__title/_type/popup__title_type_small.css);
@import url(../src/blocks/popup/__button/_type/popup__button_type_small.css);
@import url(../src/blocks/body/body.css);
@import url(../src/blocks/login/login.css);