.header {
    display: flex;
    justify-content: space-between;
    max-width: 880px;
    max-height: 74px;
    margin: 0 auto;
    margin-top: 45px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  }

  @media screen and (max-width: 375px) {
    .header {
      max-width: 320px;
      margin-top: 28px;
    }
  }

.header__login {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;

}

.header__email {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  padding-right: 24px;
}
.header__email:last-of-type {
  padding-right: 0;
}
